.footer-container{
    background-image: url('../../../images//chair-bg.png');
 background-position: center;
 background-repeat: no-repeat;
 margin-top: 8%;
 margin-bottom: 3%;
 padding-left: 5%;
}
#contactHighlight{
    background-color: #1CC7C1;
    color:white;
    height: 50px;
    width: 130px;
    font-weight: bold;
     text-align: center;
    padding-top: 10px;
}
.linkRemove{
    text-decoration: none;
    color: grey;
}
.linkRemove:hover{
    font-size: large;
}